.productsGrid{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, 390px);
    gap: 25px;
    justify-content:center
} 

.noProductText {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    .productsGrid {
        margin-top: 40px;
    }
}